body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 62.5%;
    background-color: #A1A1A1;
    overflow-x: auto;
}
body::-webkit-scrollbar {
    width: 12px;
    background-color: #A1A1A1;
}
body::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 5px;
}
body::-webkit-scrollbar-track {

}
h1 {
    font-size: 6em;
    font-weight: 100;
}
h2 {
    font-size: 4em;
}
h3 {
    font-size: 3em;
}
p {
    font-size: 2em;
}
.center {
    margin: 0 auto;
}
.content {
    margin: 0 auto;
    width: 1440px;
}
.white-text {
    color: #FFFFFF;
}
.off-white-text {
    color: #B3ADA7;
}
.accent-line {
    width: 300px;
    border-bottom: 3px solid #57AD68;
}
/* BUTTONS */

.btn {
    width: 200px;
    height: 50px;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    font-size: 1.5em;
    margin: 25px;
}
.green-btn {
    border: 0px;
    background-color: #57AD68;
    color: #E8E8E8;
}
.green-btn:active {
    background-color: #4E9C5D;
}
.green-btn-transparent {
    background: none;
    border-color: #57AD68;
    color: #57AD68;
}

/*NAV BAR STYLE*/
#header {
    min-width: 1000px;
    width:100%;
    height: 80px;
    position: fixed;
    top: 50px;
    margin: auto;
    z-index: 999;
}
#nav {
    max-width: 720px;
    height: 80px;
    float: right;
}

#nav ul {
    list-style: none;
    display: inline;
    margin: 0 auto;
    line-height: 40px;
}
#nav li {
    display: inline;
    margin-top: 9px;
    float: left;
    padding-left: 50px;

}
#nav li a {
    font-size: 1.5em;
    text-decoration: none;
    color: #D5D6C7;
}
#logo {
    width: 200px;
    height: 80px;
    float: left;
    margin: auto;

}
#logo img {
    width: 100%;
    height: 100%;
}

/* HOME PAGE */
#home {
    /* create a parallax effect with the background */
    background: url("../assets/eyeq_front.jpg") no-repeat fixed;
    background-size: cover;
    width: 100%;
    height: 750px;
    margin: 0;
    padding: 200px 0 260px 0;
}
#home #home-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 1210px;
    position: absolute;
    top: 0px;
}
#home-content {
    margin-top: 300px;
    width: 800px;
    text-align: center;
}
#welcome-text {
    line-height: 40px;
    font-weight: lighter;
}

